#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 5px;
  margin-top: 5px;
}

.accomplishments {
  font-size: .8em;
}

.accomplishments li:last-of-type {
  text-decoration: underline;
}

#personal-objective > p {
  font-weight: bold;
}



