main {
  border: 1px solid black;
  width: 200px;
  margin: 50px auto;
  position: relative;
  right: 50px;
}


#octopus {
  border: 1px solid black;
  z-index: 1;
}

#hat {
  border: 1px solid blue;
  z-index: 3;
  position: relative;
  bottom: 350px;
  right: 20px;
}

#glasses {
  border: 1px solid red;
  z-index: 2;
  position: relative;
  bottom: 400px;
  left: 45px;
}
