main {
  width: 200px;
  margin: 80px auto;
  position: relative;
  right: 50px;
}


#octopus {
  z-index: 1;
}

#hat {
  z-index: 3;
  position: relative;
  bottom: 350px;
  right: 20px;
}

#glasses {
  z-index: 2;
  position: relative;
  bottom: 400px;
  left: 45px;
}
